<!DOCTYPE html>
<html lang="en">
<%- include('partials/header')%>
  <body>
   <%- include('partials/nav')%>
    <div class="blogs content">
      <h2>All Blogs</h2>
      <% if(blogs.length>0){ blogs.forEach(blog=>{ %>
      <div class="blog">
        <h3><%=blog.title%></h3>
        <p><%=blog.snippet%></p>
      </div>
      <% }) }else{ %>
      <p>No blogs yet</p>
      <% } %>
    </div>
  </body>
  <%- include('partials/footer')%>
</html>
